<div class="container">
  <form (submit)="onDeleteAcademicYear(academicYearForm)" #academicYearForm="ngForm">
    <div class="form-group">
      <label  for="v_ac_year">Academic Year</label>
      <select type="text" class="form-control" id="v_ac_year" name="v_ac_year" (change)="onSelectAcYear($event)" ngModel required>
        <option *ngFor="let ayear of acYear" value="{{ayear.id}}">{{ayear.year}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Delete Academic Year</button>
    <div *ngIf="deleted" class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
      Deleted successfully.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </form>
</div>
