<ul class="list-group">
  <li class="list-group-item"><a routerLink="/masters/academic_year">Create Academic Year</a></li>
  <li class="list-group-item"><a routerLink="/masters/financial_year">Create Financial Year</a></li>
  <li class="list-group-item"><a routerLink="/masters/district">Create District</a></li>
  <li class="list-group-item"><a routerLink="/masters/university">Create University</a></li>
  <li class="list-group-item"><a routerLink="/masters/college">Create College</a></li>
  <li class="list-group-item"><a routerLink="/masters/income_heads">Create Income Heads</a></li>
</ul>
