<div class="jumbotron">
  <h1 class="display-3">Masters</h1>
  <hr class="my-2">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/masters/academic_year" routerLinkActive="active" id="act">
            <div>
              <img src="../../../../assets/icon/academic.png" id="ico">
              <br><br>
              <span class="card-title">Create Academic Year</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/masters/financial_year" routerLinkActive="active" id="act">
            <div>
              <img src="../../../../assets/icon/financial.png" id="ico">
              <br><br>
              <span class="card-title">Create Financial Year</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/masters/district" routerLinkActive="active" id="act">
            <div>
              <img src="../../../../assets/icon/district.png" id="ico">
              <br><br>
              <span class="card-title">Create District</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2.5%">
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/masters/university" routerLinkActive="active" id="act">
            <div>
              <img src="../../../../assets/icon/university.png" id="ico">
              <br><br>
              <span class="card-title">Create University</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/masters/college" routerLinkActive="active" id="act">
            <div>
              <img src="../../../../assets/icon/college.png" id="ico">
              <br><br>
              <span class="card-title">Create College</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/masters/income_heads" routerLinkActive="active" id="act">
            <div>
              <img src="../../../../assets/icon/incomehead.png" id="ico">
              <br><br>
              <span class="card-title">Create Income Heads</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
