<div class="jumbotron mt-2 text-center">
  <h1 class="display-4">Admin Dashboard</h1>
  <hr class="my-2">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="card" style="height: 15rem;">
        <div class="card-body">
          <a routerLink="/masters" routerLinkActive="active" id="act">
            <div>
              <img src="../../../../assets/icon/create.png" alt="MASTERS" id="ico">
              <br><br>
              <span class="card-title">Create new <b>M</b>asters record</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="card" style="height: 15rem;">
        <div class="card-body">
          <a routerLink="/report" routerLinkActive="active" id="act">
            <div>
                <img src="../../../../assets/icon/report.png" alt="REPORTS" id="ico">
                <br><br>
                <span class="card-title">Generate new <b>R</b>eports</span>
              </div>
          </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="card" style="height: 15rem;">
          <div class="card-body">
            <!-- <h3 class="card-title mb-5">Create Transactions</h3>
            <a routerLink="/transactions" routerLinkActive="active" class="btn btn-primary" role="button">Transactions</a> -->
            <a routerLink="/transactions" routerLinkActive="active" id="act">
              <div>
                  <img src="../../../../assets/icon/transaction.png" alt="TRANSACTIONS" id="ico">
                  <br><br>
                  <span class="card-title">Create new <b>T</b>ransactions</span>
                </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
