<div class="jumbotron mt-2 text-center">
  <h1 class="display-4">Admin Dashboard</h1>
  <hr class="my-2">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="card" style="height: 15rem;">
        <div class="card-body">
          <h3 class="card-title mb-5">Create New Masters</h3>
          <a routerLink="/masters" routerLinkActive="active" class="btn btn-primary" role="button">Create Masters</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="card" style="height: 15rem;">
        <div class="card-body">
          <h3 class="card-title mb-5">Generate New Reports</h3>
          <a routerLink="/reports" routerLinkActive="active" class="btn btn-primary" role="button">Generate
            Reports</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="card" style="height: 15rem;">
          <div class="card-body">
            <h3 class="card-title mb-5">Create Transactions</h3>
            <a routerLink="/transactions" routerLinkActive="active" class="btn btn-primary" role="button">Transactions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
