<div class="jumbotron">
    <h1 class="display-3">Collections</h1>
    <hr class="my-2">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="card">
          <div class="card-body">
            <a routerLink="/collections/college-collection" routerLinkActive="active" id="act">
              <div>
                <img src="../../../../assets/icon/academic.png" alt="College Collection" id="ico">
                <br><br>
                <span class="card-title">College Wise Collection</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="card">
          <div class="card-body">
            <a routerLink="/collections/district-collection" routerLinkActive="active" id="act">
              <div>
                <img src="../../../../assets/icon/district.png" alt="District Collection" id="ico">
                <br><br>
                <span class="card-title">District Wise Collection</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="card">
          <div class="card-body">
            <a routerLink="/collections/university-collection" routerLinkActive="active" id="act">
              <div>
                <img src="../../../../assets/icon/university.png" alt="University Collection" id="ico">
                <br><br>
                <span class="card-title">University Wise Collection</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
