<div class="container">
  <form (submit)="onAddFinancialYear(financialYearForm)" #financialYearForm="ngForm">
    <div class="form-group">
      <label for="financial">Year</label>
      <input type="text" class="form-control" id="financial" name="financial_year" placeholder="Enter Year" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary">Add Financial Year</button>
    <div *ngIf="added" class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px">
        Added successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </form>
</div>
