<div class="jumbotron">
  <h1 class="display-3">Jumbo heading</h1>
  <p class="lead">Jumbo helper text</p>
  <hr class="my-2">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Add A New receipt</h3>
          <p class="card-text"><a routerLink="/transactions/receipts" class="btn btn-primary">Click here to add</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Add a new voucher</h3>
          <a routerLink="/transactions/vouchers" class="btn btn-primary">Click here to add</a>
        </div>
      </div>
    </div>
  </div>
</div>
