<div class="container">
  <form (submit)="onAddDistrict(districtForm)" #districtForm="ngForm">
    <div class="form-group">
      <label for="district">District Name</label>
      <input type="text" class="form-control" id="district" name="district_name" placeholder="Enter District" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary">Add District</button>
    <div *ngIf="added" class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px">
        Added successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </form>
</div>
