<div class="container">
  <form (submit)="onAddIncomeHead(incomeHeadForm)" #incomeHeadForm = "ngForm">
    <div class="form-group">
      <label for="i_income_head">Income Head</label>
      <input type="text" class="form-control" id="i_income_head" name="i_income_head" placeholder="Enter Income Head" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary">Add Income Head</button>
    <div *ngIf="added" class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px">
        Added successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </form>
</div>
